**/Temp/
**/Library/
**/obj/
**.csproj
**.idea/
**.sln


**/PersistentPath/
**/PersistentPath.meta
**/BlockGenPrefabs/
**/BlockGenPrefabs.meta
**/Xcode/
**.DS_Store
**.userprefs
**/JetBrains/
**/JetBrains.meta

*.userprefs
**/AssetBundles/
**/AssetBundles.meta
**/UBlocklyGame.sln.DotSettings.user
**/Logs/
**/.vs/
**/.vscode
**/.vsconfig
**/UserSettings/

mono_crash**.json